<br>
<br>

<div class="col-md-6 offset-md-3">
    <h4>Create Venture Events</h4>
    
    <form #addVen="ngForm" (ngSubmit) = "onSubmit()">

        <div class="form-group" [class.has-error]="nam.invalid && nam.touched">
            <label for="name" class="control_label">NAME</label>
            <input type="text" class="form-control" id= "name"
            required [(ngModel)] ="venture.name" name="name" #nam="ngModel">
           <span class="help-block"
            *ngIf="nam.invalid && nam.touched">
            <small style="color: red;">Company Name is required!</small></span>

        </div>

        <br>
        
        <div class="form-group"[class.has-error]="tech.invalid && tech.touched">
            <label for="domain" class="control-label">DOMAIN</label>
            <input required type="text" class="form-control" id= "domain"
            [(ngModel)] = "venture.domain" name= "domain" #tech="ngModel">
            <span class="help-block"
            *ngIf="tech.invalid && tech.touched">
            <small style="color: red;">Domain Name is required!</small></span>
        </div>

        <br>

        <div class="form-group"[class.has-error]="rev.invalid && rev.touched">
            <label for="revenue_estimation" class="control-label">REVENUE_ESTIMATION</label>
            <input required type= number class="form-control" id="revenue_estimation"
             [(ngModel)] ="venture.revenue_estimation" name="revenue_estimation" #rev="ngModel">
             <span class="help-block"
             *ngIf="rev.invalid && rev.touched">
             <small style="color: red;">Revenue Estimation is required!</small></span>
        </div>

        <br>
        <br>

        <button class = "btn btn-success" type = "submit" [disabled]="addVen.invalid">Save & Submit</button>
       
    </form>

    <br>

    <div *ngIf="submitted">
        <h5>{{message}}</h5>
    </div>

    <h5>{{error}}</h5>

   <br>
    
    </div>


